@import "forms";

// ~~~~~~~~~~~~~~~~~~~~~ IMAGE DISPLAY COMPONENT ~~~~~~~~~~~~~~~~~~~~~

.wrap-image-imageDisplay {
  position: relative;
  min-height: 200px;

  &.isPrimary {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;
  }

  &.notShown {
    .image{
      opacity: 0.5;
    }
  }

  .image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
  }

  .block-text {
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 10%;
    right: 10%;
    background-color: rgba(white, 0.8);
    padding: 5px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    .isPrimary {
      @include icon-before('\f005', #ffcc00);
      display: block;
    }

    .notShown {
      @include icon-before('\f00d', red);
      display: block;
    }

    .category {

    }

    .caption {
      flex-basis: 100%;
      font-style: italic;
      margin-top: 4px;
    }
  }

  .button-edit {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}


// ~~~~~~~~~~~~~~~~~~~~~ IMAGE EDITOR COMPONENT / POPOVER ~~~~~~~~~~~~~~~~~~~~~
.popover-imageEditor {
  max-width: 80%;
  height: 70%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: white;
  overflow: auto;
  box-shadow: 0 5px 79px 43px rgba(grey, 0.2), 0 5px 27px 6px rgba(grey, 0.2) inset;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 6px;
  z-index: 1000;


  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 6px;
  }

  .col-half {
    flex-basis: 49%
  }

  .button-cancel,
  .button-save {
    flex-basis: 100%;
    text-align: center;
  }
}