@import "utilities";
@import "forms";

$user-image-icon-color-1: #999ea2 !default;
$user-image-icon-color-2: lightslategrey !default;

// ~~~~~~~~~~~~~~~~~~~~~ IMAGE DISPLAY COMPONENT ~~~~~~~~~~~~~~~~~~~~~

.wrap-image-imageDisplay {
  position: relative;
  min-height: 200px;

  &.isPrimary {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;
  }

  &.notShown {
    .image{
      opacity: 0.5;
    }
  }

  .image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
  }

  .block-text {
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 10%;
    right: 10%;
    background-color: rgba(white, 0.8);
    padding: 5px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    .isPrimary {
      @include icon-before('\f005', #ffcc00);
      display: block;
    }

    .notShown {
      @include icon-before('\f00d', red);
      display: block;
    }

    .category {

    }

    .caption {
      flex-basis: 100%;
      font-style: italic;
      margin-top: 4px;
    }
  }

  .button-edit {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}


// ~~~~~~~~~~~~~~~~~~~~~ IMAGE EDITOR COMPONENT / POPOVER ~~~~~~~~~~~~~~~~~~~~~
.popover-imageEditor {
  max-width: 80%;
  height: 70%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: white;
  overflow: auto;
  box-shadow: 0 5px 79px 43px rgba(grey, 0.2), 0 5px 27px 6px rgba(grey, 0.2) inset;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 6px;
  z-index: 1000;

  @include TABLET{
    align-content: flex-start;
  }


  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .popover-image {
    position: relative;
    padding-top: 100%;


    .image {
      //border: 1px solid rgba(128, 128, 128, 0.4);
      position: absolute;
      top: 0;
      bottom: 30px;
      left: 0;
      right: 0;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      padding-top: 50%;
      background-position: center;
    }
  }

  .title {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 6px;
  }

  .col-half {
    flex-basis: 49%;

    @include TABLET {
      flex-basis: 100%;
    }
  }

  .button-cancel,
  .button-save {
    flex-basis: 100%;
    text-align: center;
  }

  .wrap-buttonsRotate {
    position: absolute;
    top: 11px;
    left: 5px;
  }

  .button-rotate {
    border: 1px solid #999ea2;
    //background-color: rgba(lightslategrey, 0.6);
    transition: all 2s;
    padding: 3px 7px;
    margin-right: 1px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: auto;
    background-color: rgba(211, 211, 211, 0.29);

    &:hover {
      background-color: lighten(rgba(lightslategrey, 0.6), 15%);
    }

    svg {
      width: 100%;
    }
  }
}

.image-editor-icon {

  .color1-stroke,
  .color2-stroke {
    fill:none;
    stroke-width:11;
    stroke-linecap:square;
    stroke-linejoin:round;
  }
  .color1-stroke{
    stroke:$user-image-icon-color-1;
  }

  .color2-stroke{
    stroke:$user-image-icon-color-2;
  }

  .color1-fill {
    fill: $user-image-icon-color-1;
  }

  .color2-fill {
    fill: $user-image-icon-color-2;
  }
}