//=============== MEDIA QUERIES ==================

$breakpoint-pro: 1000px !default;
$breakpoint-tablet: 800px !default;
$breakpoint-hybrid: 600px !default;
$breakpoint-mobile: 400px !default;

$breakpoint-nav: $breakpoint-pro;
$breakpoint-logo: $breakpoint-hybrid;
$breakpoint-content: $content-width-max;

@mixin uImg-PRO {
  @media screen and (max-width: $breakpoint-pro){
    @content;
  }
}

@mixin uImg-TABLET {
  @media screen and (max-width: $breakpoint-tablet){
    @content;
  }
}

@mixin uImg-HYBRID {
  @media screen and (max-width: $breakpoint-hybrid){
    @content;
  }
}

@mixin uImg-MOBILE {
  @media screen and (max-width: $breakpoint-mobile){
    @content;
  }
}

@mixin NAV {
  @media screen and (max-width: $breakpoint-nav){
    @content;
  }
}
